body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffaf7;
    color: #2c395e;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6189b5;
    border-bottom: 2px solid #6899d7;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    border: 1px solid #c3e3f7;
    border-radius: 8px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #5c8cb3;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3c6688;
}

h3 {
    margin-top: 20px;
    color: #2c395e;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f7f7f7;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid #81c5ee;
}

span {
    font-weight: bold;
}

img {
    border-radius: 50%;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.cabecalho img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto-card {
    background-color: #fefefe;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    padding: 10px;
    width: 180px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.produto-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto-card p {
    margin-top: 8px;
    font-weight: bold;
    color: #2c395e;
}

