* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: 700 30px 'Courier New';
}

#jogador {
    background-color: #f489a8;
}

#computador {
    background-color: #fbe6ae;
}

#jogadorEscolha, #computadorEscolha {
    list-style-type: none;
}

#jogadorEscolha li, #computadorEscolha li {
    display: inline;
}

img {
    width: 96px;
    margin: 0 25px;
}

#jogador, #computador {
    position: relative;
    flex-grow: 1;
    width: 200px;
    padding: 30px;
    color: white;
    border-radius: 5px;
}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#versus {
    margin: 0 10px;
}

#jogadorEscolha li a, #computadorEscolha li a {
    opacity: 0.2;
    transition: ease-in-out 0.2s;
}

#jogadorEscolha li a:hover, #jogadorEscolha li a.selecionado, #computadorEscolha li a.selecionado {
    opacity: 1;
}